In [2]:
import pandas as pd

# train_df

In [3]:
train_df = pd.read_csv('predict-student-performance-from-game-play/train.csv')

print("train_shape : ", train_df.shape)
train_df.head()

train_shape :  (26296946, 20)

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,0,0,1,0-4
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,494.0,NaN,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,494.0,NaN,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,0,0,1,0-4

In [14]:
train_df.columns

Index(['session_id', 'index', 'elapsed_time', 'event_name', 'name', 'level',
       'page', 'room_coor_x', 'room_coor_y', 'screen_coor_x', 'screen_coor_y',
       'hover_duration', 'text', 'fqid', 'room_fqid', 'text_fqid',
       'fullscreen', 'hq', 'music', 'level_group'],
      dtype='object')

In [15]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26296946 entries, 0 to 26296945
Data columns (total 20 columns):
 #   Column          Dtype
---  ------          -----
 0   session_id      int64
 1   index           int64
 2   elapsed_time    int64
 3   event_name      object
 4   name            object
 5   level           int64
 6   page            float64
 7   room_coor_x     float64
 8   room_coor_y     float64
 9   screen_coor_x   float64
 10  screen_coor_y   float64
 11  hover_duration  float64
 12  text            object
 13  fqid            object
 14  room_fqid       object
 15  text_fqid       object
 16  fullscreen      int64
 17  hq              int64
 18  music           int64
 19  level_group     object
dtypes: float64(6), int64(7), object(7)
memory usage: 3.9+ GB

In [17]:
train_df.describe(include='all')

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,screen_coor_y,hover_duration,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group
count,2.629695e+07,2.629695e+07,2.629695e+07,26296946,26296946,2.629695e+07,564544.000000,2.422367e+07,2.422367e+07,2.422367e+07,2.422367e+07,2.002244e+06,9617139,18022531,26296946,9617244,2.629695e+07,2.629695e+07,2.629695e+07,26296946
unique,NaN,NaN,NaN,11,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,597,128,19,126,NaN,NaN,NaN,3
top,NaN,NaN,NaN,navigate_click,undefined,NaN,NaN,NaN,NaN,NaN,NaN,NaN,undefined,worker,tunic.historicalsociety.entry,tunic.historicalsociety.cage.confrontation,NaN,NaN,NaN,13-22
freq,NaN,NaN,NaN,11326433,12705785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,355969,1878958,3622003,666557,NaN,NaN,NaN,13471703
mean,2.113249e+16,6.445102e+02,4.016694e+06,NaN,NaN,1.219169e+01,3.166559,-5.490579e+01,-1.162119e+02,4.584098e+02,3.855860e+02,3.471003e+03,NaN,NaN,NaN,NaN,1.370037e-01,1.202047e-01,9.293778e-01,NaN
std,5.712953e+14,5.457880e+02,3.127032e+07,NaN,NaN,6.497789e+00,2.063291,5.202926e+02,2.184710e+02,2.479389e+02,1.298166e+02,4.602024e+05,NaN,NaN,NaN,NaN,3.438513e-01,3.252008e-01,2.561926e-01,NaN
min,2.009031e+16,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00,0.000000,-1.992355e+03,-9.181623e+02,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,NaN
25%,2.101022e+16,2.880000e+02,4.397000e+05,NaN,NaN,6.000000e+00,1.000000,-3.528395e+02,-2.127183e+02,2.690000e+02,3.040000e+02,9.900000e+01,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.000000e+00,NaN
50%,2.104021e+16,5.950000e+02,1.014801e+06,NaN,NaN,1.300000e+01,3.000000,-1.116280e+01,-9.760534e+01,4.470000e+02,3.970000e+02,4.190000e+02,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.000000e+00,NaN
75%,2.110052e+16,8.960000e+02,1.747040e+06,NaN,NaN,1.800000e+01,5.000000,2.966515e+02,2.268786e+01,6.630000e+02,4.710000e+02,1.266000e+03,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,1.000000e+00,NaN
max,2.210022e+16,2.047300e+04,1.988607e+09,NaN,NaN,2.200000e+01,6.000000,1.261774e+03,5.436164e+02,1.919000e+03,1.440000e+03,2.451637e+08,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,NaN

In [6]:
def summary(df):
    print(f'data shape : {df.shape}')
    summ = pd.DataFrame(df.dtypes, columns=['data type'])
    summ['#missing'] = df.isnull().sum().values * 100
    summ['%missing'] = df.isnull().sum().values / len(df)
    summ['#unique'] = df.nunique().values
    desc = pd.DataFrame(df.describe(include='all').transpose())
    summ['min'] = desc['min'].values
    summ['max'] = desc['max'].values
    summ['first value'] = df.loc[0].values
    summ['second value'] = df.loc[1].values
    summ['third value'] = df.loc[2].values
    
    return summ

In [7]:
summary_table = summary(train_df)
summary_table

data shape : (26296946, 20)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
session_id,int64,0,0.000000,23562,2.00903e+16,2.21002e+16,20090312431273200,20090312431273200,20090312431273200
index,int64,0,0.000000,20348,0,20473,0,1,2
elapsed_time,int64,0,0.000000,5042639,0,1.98861e+09,0,1323,831
event_name,object,0,0.000000,11,NaN,NaN,cutscene_click,person_click,person_click
name,object,0,0.000000,6,NaN,NaN,basic,basic,basic
level,int64,0,0.000000,23,0,22,0,0,0
page,float64,2573240200,0.978532,7,0,6,NaN,NaN,NaN
room_coor_x,float64,207327200,0.078841,17434779,-1992.35,1261.77,-413.991,-413.991,-413.991
room_coor_y,float64,207327200,0.078841,13648406,-918.162,543.616,-159.315,-159.315,-159.315
screen_coor_x,float64,207327200,0.078841,57924,0,1919,380,380,380
screen_coor_y,float64,207327200,0.078841,102591,0,1440,494,494,494
hover_duration,float64,2429470200,0.923860,24101,0,2.45164e+08,NaN,NaN,NaN
text,object,1667980700,0.634287,597,NaN,NaN,undefined,"Whatcha doing over there, Jo?",Just talking to Teddy.
fqid,object,827441500,0.314653,128,NaN,NaN,intro,gramps,gramps
room_fqid,object,0,0.000000,19,NaN,NaN,tunic.historicalsociety.closet,tunic.historicalsociety.closet,tunic.historicalsociety.closet
text_fqid,object,1667970200,0.634283,126,NaN,NaN,tunic.historicalsociety.closet.intro,tunic.historicalsociety.closet.gramps.intro_0_...,tunic.historicalsociety.closet.gramps.intro_0_...
fullscreen,int64,0,0.000000,2,0,1,0,0,0
hq,int64,0,0.000000,2,0,1,0,0,0
music,int64,0,0.000000,2,0,1,1,1,1
level_group,object,0,0.000000,3,NaN,NaN,0-4,0-4,0-4

In [19]:
print(train_df.isnull().sum())

session_id               0
index                    0
elapsed_time             0
event_name               0
name                     0
level                    0
page              25732402
room_coor_x        2073272
room_coor_y        2073272
screen_coor_x      2073272
screen_coor_y      2073272
hover_duration    24294702
text              16679807
fqid               8274415
room_fqid                0
text_fqid         16679702
fullscreen               0
hq                       0
music                    0
level_group              0
dtype: int64

In [20]:
train_df['session_id'].value_counts()

20110310463989760    19032
20110515090304556     6000
21110313432157404     5435
21010312074134348     4803
20110219555923044     4743
                     ...
21030218335394260      639
21000013055772070      637
21030108504475890      635
20110112402567744      634
22000610592348800      591
Name: session_id, Length: 23562, dtype: int64

In [29]:
train_df['event_name'].value_counts()

navigate_click        11326433
person_click           6052853
cutscene_click         2703035
object_click           2198211
object_hover           1057085
map_hover               945159
notification_click      649001
notebook_click          564544
map_click               517242
observation_click       212355
checkpoint               71028
Name: event_name, dtype: int64

In [31]:
train_df['elapsed_time'].value_counts()

0           23564
1014          125
1016          123
949            90
849            88
            ...
3499796         1
3811068         1
12220150        1
3843820         1
68614415        1
Name: elapsed_time, Length: 5042639, dtype: int64

In [32]:
train_df['name'].value_counts()

undefined    12705785
basic        12648469
close          676696
open           235139
prev            19250
next            11607
Name: name, dtype: int64

In [33]:
train_df['level'].value_counts()

18    3499163
6     2117796
21    2110010
11    1937208
16    1295082
7     1278207
15    1219497
19    1217088
17    1207881
3     1144768
9     1137748
20    1129246
2      992615
8      888584
13     823875
1      726590
0      688992
5      668188
14     550829
10     449139
4      428040
22     419032
12     367368
Name: level, dtype: int64

In [34]:
train_df['page'].value_counts()

5.0    101171
1.0     99900
6.0     90743
4.0     88197
0.0     73485
3.0     62565
2.0     48483
Name: page, dtype: int64

In [35]:
train_df['room_coor_x'].value_counts()

 425.725528    3915
 426.725528    3883
 427.725528    3775
 424.725528    3640
 423.725528    3610
               ...
 151.187903       1
 74.411676        1
 426.398882       1
-586.632757       1
-327.001652       1
Name: room_coor_x, Length: 17434779, dtype: int64

In [36]:
train_df['room_coor_y'].value_counts()

-106.000000    20291
-105.000000    20264
-104.000000    20076
-102.000000    20065
-103.000000    19892
               ...
-685.348949        1
-33.511668         1
 150.774950        1
-301.110058        1
-235.733010        1
Name: room_coor_y, Length: 13648406, dtype: int64

In [37]:
train_df['screen_coor_x'].value_counts()

822.000000    41453
824.000000    41088
814.000000    40903
382.000000    40857
820.000000    40753
              ...
467.817261        1
480.771301        1
467.846588        1
467.875061        1
259.600037        1
Name: screen_coor_x, Length: 57924, dtype: int64

In [38]:
train_df['screen_coor_y'].value_counts()

434.000000    88516
436.000000    88497
431.000000    88451
435.000000    87811
433.000000    87777
              ...
363.883148        1
363.882355        1
363.877594        1
363.875000        1
408.082367        1
Name: screen_coor_y, Length: 102591, dtype: int64

In [39]:
train_df['hover_duration'].value_counts()

17.0       62582
50.0       50003
33.0       37660
16.0       37449
67.0       25997
           ...
21453.0        1
21452.0        1
21451.0        1
21448.0        1
12090.0        1
Name: hover_duration, Length: 24101, dtype: int64

In [40]:
train_df['text'].value_counts()

undefined                                      355969
\u00f0\u0178\u02dc\u0090                        48805
Hey!                                            47452
I should go to the Capitol and tell Mrs. M!     40463
This is perfect for the exhibit.                40218
                                                ...
AND he stole Teddy!                                 1
Here I am!                                          1
Now can I tell you what happened to Teddy?          1
It'll be okay, Jo. We'll find Teddy!                1
Nice work on the shirt, Jolie!                      1
Name: text, Length: 597, dtype: int64

In [41]:
train_df['fqid'].value_counts()

worker           1878958
archivist        1127341
gramps           1122264
wells             787418
toentry           784496
                  ...
need_glasses        1297
block_badge_2        993
fox                  465
block_1               37
chap2_finale           1
Name: fqid, Length: 128, dtype: int64

In [42]:
train_df['room_fqid'].value_counts()

tunic.historicalsociety.entry              3622003
tunic.wildlife.center                      3013154
tunic.historicalsociety.cage               2352083
tunic.library.frontdesk                    2145666
tunic.historicalsociety.frontdesk          1943066
tunic.historicalsociety.stacks             1794007
tunic.historicalsociety.closet_dirty       1568994
tunic.humanecology.frontdesk               1326890
tunic.historicalsociety.basement           1168090
tunic.kohlcenter.halloffame                1096872
tunic.library.microfiche                    995674
tunic.drycleaner.frontdesk                  981451
tunic.historicalsociety.collection          957400
tunic.historicalsociety.closet              857273
tunic.flaghouse.entry                       833793
tunic.historicalsociety.collection_flag     452397
tunic.capitol_1.hall                        445569
tunic.capitol_0.hall                        416469
tunic.capitol_2.hall                        326095
Name: room_fqid, dtype: int64

In [43]:
train_df['text_fqid'].value_counts()

tunic.historicalsociety.cage.confrontation               666557
tunic.wildlife.center.crane_ranger.crane                 470755
tunic.historicalsociety.frontdesk.archivist.newspaper    429762
tunic.historicalsociety.entry.groupconvo                 427180
tunic.wildlife.center.wells.nodeer                       399967
                                                          ...
tunic.capitol_2.hall.chap4_finale_c                         280
tunic.drycleaner.frontdesk.block_0                          221
tunic.historicalsociety.entry.gramps.hub                     39
tunic.humanecology.frontdesk.block_1                         13
tunic.drycleaner.frontdesk.block_1                            3
Name: text_fqid, Length: 126, dtype: int64

In [44]:
train_df['fullscreen'].value_counts()

0    22694166
1     3602780
Name: fullscreen, dtype: int64

In [45]:
train_df['hq'].value_counts()

0    23135929
1     3161017
Name: hq, dtype: int64

In [46]:
train_df['music'].value_counts()

1    24439799
0     1857147
Name: music, dtype: int64

In [47]:
train_df['level_group'].value_counts()

13-22    13471703
5-12      8844238
0-4       3981005
Name: level_group, dtype: int64

# target_df

In [25]:
target_df = pd.read_csv('predict-student-performance-from-game-play/train_labels.csv')
print('target_shape : ', target_df.shape)
target_df.head()

target_shape :  (424116, 2)

             session_id  correct
0  20090312431273200_q1        1
1  20090312433251036_q1        0
2  20090312455206810_q1        1
3  20090313091715820_q1        0
4  20090313571836404_q1        1

In [21]:
target_df['session_id'].value_counts()

21060211402031296_q10    1
21020316583001664_q2     1
22030121470021372_q12    1
21000213545536640_q15    1
21040317134619916_q9     1
                        ..
21070119241871344_q6     1
21020410032452044_q13    1
21010615580461230_q18    1
21030212071140750_q14    1
22020217465089184_q1     1
Name: session_id, Length: 424116, dtype: int64

In [27]:
target_df['session'] = target_df.session_id.apply(lambda x: int(x.split('_')[0]))
target_df['q'] = target_df.session_id.apply(lambda x: int(x.split('_')[-1][1:]))
print('target_df shape : ', target_df.shape)
target_df.head()

target_df shape :  (424116, 4)

             session_id  correct            session  q
0  20090312431273200_q1        1  20090312431273200  1
1  20090312433251036_q1        0  20090312433251036  1
2  20090312455206810_q1        1  20090312455206810  1
3  20090313091715820_q1        0  20090313091715820  1
4  20090313571836404_q1        1  20090313571836404  1

In [28]:
target_df['session'].value_counts()

21000606001582604    18
22050310044794292    18
21020214171435180    18
20100012523954740    18
21090007171260644    18
                     ..
21040518374552664    18
21010511462266430    18
20100111112073250    18
20100618100195524    18
21000412185488852    18
Name: session, Length: 23562, dtype: int64